---
import "@/styles/global.css";
import SummonerPage from "@/components/SummonerPage";
import SummonerLayout from "@/layouts/SummonerLayout";

const { region, search } = Astro.params;
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/x-icon" href="/baron.ico" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>League Info</title>
  </head>
  <body>
    <SummonerLayout client:load initialRegion={region}>
      <SummonerPage client:load initialRegion={region} search={search} />
    </SummonerLayout>
  </body>
</html>
