---
import SummonerPage from "@/components/SummonerPage";
import SummonerLayout from "@/layouts/SummonerLayout";

const { region, search } = Astro.params;
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>League Info</title>

    <style>
      @tailwind base;
      @tailwind components;
      @tailwind utilities;
      * {
        outline: none;
      }
      html {
        background-color: #1c1c1f;
      }
      body {
        box-sizing: border-box;
        outline: none;
      }
    </style>
  </head>
  <body>
    <SummonerLayout client:load>
      <SummonerPage client:load region={region} search={search} />
    </SummonerLayout>
  </body>
</html>
